.wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  &Btn {
    height: 3rem;
    width: 3rem;
    background-color: #121314;
    border: none;
    border-radius: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &Indicator {
    height: 3rem;
    width: 3rem;
    background-color: #2572e8;
    border: none;
    border-radius: 100%;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.disabledBtn {
  color: #ffffff77;
  background-color: #ffffff28;
  cursor: not-allowed;
}

@media (max-width: 26rem) {
  .wrapper {
    &Btn {
      height: 2rem;
      width: 2rem;
    }

    &Indicator {
      height: 2rem;
      width: 2rem;
    }
  }
}
