.wrapper {
  padding: 1.5rem 1rem;
  border-bottom: 0.1rem solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &Links {
    display: flex;
    gap: 2rem;

    &Link {
      border-bottom: 0.1rem solid transparent;
      padding-bottom: 0.25rem;

      &:hover {
        border-bottom: 0.1rem solid #fff;
      }
    }
  }

  &User {
    font-size: 0.9rem;
  }
}

@media (max-width: 31rem) {
  .wrapper {
    padding: .75rem 1rem;
    flex-direction: column;
    gap: 1rem;

    &Logo {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}
