.wrapper {
  padding: 1.5rem 1rem;
  border-top: 0.1rem solid #fff;
  display: flex;
  justify-content: space-evenly;

  &Link {
    font-weight: 900;
    width: 7rem;
    height: 2rem;
    text-align: center;
    color: #ffffff77;

    &:hover {
      color: #fff;
    }
  }
}
